<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
<body>
    <div class="header-div">
        <table style="width:100%">
            <tr>
                <td>
                    <ul class="header">
                        <a href="{{ url_for('main.index') }}"><li class="header-item {{ active_index }}">Главная</li></a>
                        <a href="{{ url_for('main.my_oprosi') }}"><li class="header-item {{ active_oprosi }}">Мои опросы</li></a>
                    </ul>
                </td>
                <td>
                    {% if current_user.is_authenticated %}
                    <div class="auth">
                    <span style="display: inline-block">{{current_user.login}}</span>, <a style="display: inline-block" class="a-but" href="{{ url_for('auth.logout') }}">Выйти</a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>