{% extends 'base.html' %}
{% block title %}{{ opros.name }}{% endblock %}
{% block content %}
<h1>Редактирование опроса</h1>
<div class="block">
    <h4>Название опроса: {{ opros.name }}</h4>
    <h4>Тематика: {{ opros.tematiki.name }}</h4>
    <span>Переход к опросу</span>
    <hr>
            <div id="qrcode"></div>
</div>
<div class="block">
    <form method="post" id="questions" style="width:max-content">
            <label class="text-field__label" for="vopr">Текст вопроса</label>
            <textarea class="text-field__input" cols="40" rows="5" name="question" id="vopr" maxlength="200"></textarea>
            <p>Варианты ответов: </p>
            <button type="button" onclick="add_otvet(this)">Добавить вариант ответа</button>
        <p></p><button type="submit">Добавить вопрос</button>
    </form>
</div>
            <h2>Просмотр опроса</h2>
            {% for item in otvets %}
            <div class="block">
                <input type="text" style="display: none" value="{{ item[0].voprosi.id }}">
                <p>Вопрос: <b>"{{ item[0].voprosi.text }}"</b>
                <p>Варианты ответов: </p>
                {% for i in item %}
                <p class="otv">{{i.text}} Количество ответов: <span class="count">{{i.count_otvetov}}</span></p>
                {% endfor %}
                <button type="button" onclick="add_otvet(this)">Добавить вариант ответа</button>
            </div>
            {% endfor %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='davidshimjs-qrcodejs-04f46c6/qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='qrcode.js') }}"></script>
{% endblock %}