{% extends 'base.html' %}
{% block title %}{{ opros.name }}{% endblock %}
{% block content %}
<h1>Редактирование опроса</h1>
<div class="block">
    <h4>Название опроса: {{ opros.name }}</h4>
    <h4>Тематика: {{ opros.tematiki.name }}</h4>
    <button type="button" onclick="download_qr()">QR-код</button>
</div>
<div class="block">
    <form method="post" id="questions" style="width:max-content" onsubmit="validate_add_vopros(event)">
            <label class="text-field__label" for="vopr">Текст вопроса</label>
            <textarea class="text-field__input" cols="25" rows="5" name="question" id="vopr" maxlength="200"></textarea>
            <p>Варианты ответов: </p>
            <button type="button" onclick="add_otvet(this)">Добавить вариант ответа</button>
        <p></p><button type="submit">Добавить вопрос</button>
    </form>
</div>
            <h2>Просмотр опроса</h2>
            {% for item in otvets %}
            <div class="block questions">
                <button type="button"><a style="color:white" href="{{ url_for('main.delete_vopros', id_v=item[0].voprosi.id, id_o=opros.id) }}">Удалить вопрос</a></button>
                <form method="post" action="/add_otveti/{{ opros.id }}/{{ item[0].voprosi.id }}" onsubmit="validate_add_vopros_2(event)">
                    <input type="text" style="display: none" value="{{ item[0].voprosi.id }}" name="id_v">
                    <p>Вопрос: <b>"{{ item[0].voprosi.text }}"</b>
                    <p>Варианты ответов: </p>
                    {% for i in item %}
                    <p class="otv">{{i.text}} <br>Количество ответов: <span class="count">{{i.count_otvetov}}</span></p>
                    {% endfor %}
                    <button type="button" onclick="add_otvet_for_edit(this)">Добавить вариант ответа</button>
                    <button type="submit" style="display:none">Сохранить</button>
                </form>
            </div>
            {% endfor %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='davidshimjs-qrcodejs-04f46c6/qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='qrcode.js') }}"></script>
{% endblock %}