{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="block">
    <h2>Об аккаунте</h2>
    <p>Логин: {{ current_user.login }}</p>
    <p>ФИО: {{ current_user.fio }}</p>
    <p>Возраст: {{ current_user.age }}</p>
    <p>Пол: {{ current_user.pol.name }}</p>
</div>
<div class="block">
    <h2>Добавить опрос</h2>
    <form method="post" onsubmit="validate_add_opros(event);">
        <div class="text-field">
            <label class="text-field__label" for="name">Название опроса</label>
            <input class="text-field__input"  type="text" name="name_opros" id="name">
        </div>
        <p>Выбрать тему</p>
        <select name="tema" id="select_tema">
            <option selected disabled value="-1">Нажмите для выбора темы</option>
            {% for tema in tems %}
            <option value="{{ tema.id }}">{{ tema.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Добавить</button>
    </form>
</div>
<div class="block">
    <h2>Добавить тему</h2>
    <form method="post" action="/add_tematika" onsubmit="validate_add_tema(event);">
        <div class="text-field">
            <label class="text-field__label" for="name_t">Название темы</label>
            <input class="text-field__input" type="text" name="name_tem" id="name_t">
        </div>
        <button type="submit">Добавить</button>
    </form>
</div>
{% endblock %}