{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="signup">
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="notification is-danger">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
    <form method="post" onsubmit="validation_login(event)">
        <input
    type="hidden"
    name="next"
    value="{{ request.args.get('next', '') }}"
        />
        <label class="text-field__label" for="login">Логин</label>
        <input class="text-field__input" type="text" name="login" id="login">
        <label class="text-field__label" for="pass1">Пароль</label>
        <input class="text-field__input" type="password" name="password" id="pass1">
        <button style="margin: 10px 0; text-align:center" type="submit">Войти</button>
    </form>
<button type="button"><a style="color: white;" href="{{ url_for('auth.signup', page=request.args.get('next', '')) }}">Регистрация</a></button>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}
{% endblock %}